streamlit
numpy
scipy
matplotlib
plotly
pandas
tqdm
pillow
psutil
segyio
torch
torchvision
torchaudio
tensorflow
scikit-learn
xgboost
lightgbm
joblib
opencv-python
scikit-image
PyWavelets
umap-learn
hdbscan
segmentation-models-pytorch
albumentations
pytorch-lightning
pyyaml
json5
ipywidgets
ipython







